*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{

}
li{
    
    margin: 50px;
    display: inline;
    text-align: center;
}
main{
border: dotted;
    
}
h2{
    text-align: center;
}
.cat{
    float: left;
    margin: 200px;
    width: 500px;
    height: 500px;
    border: solid;
    
}
.class{
    float: right;
    margin: 200px;
    width: 500px;
    height: 500px;
    border: solid;
    
}
.meow{
    float: left;
    margin: 200px;
    width: 500px;
    height: 500px;
    border: solid;
}
.dog{
    float: right;
    margin: 200px;
    width: 500px;
    height: 500px;
    border: solid;
}
header img{
    float: left;
}
ul{
    font-size: large;
    margin-right: 1000px;
    margin-top: 50px;
    text-align: center;
    float: right;
}
.clearfix{
    clear: both;
}
footer{
    font-size: larger;
}

